<%- include('partials/header.ejs') %>
<style>
  html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
h3{
  color : rgb(240, 240, 245);
}
th{
  color : rgb(240, 240, 245);
}
tr{
  color : rgb(240, 240, 245);
}
</style>
  <div class="container">
      <div class="row">
          <div class="col-md-12 mx-auto">
              <div class="mt-5">
                <h3 class="float-left">List Product</h3>
                <a href="/product/add" class="btn btn-sm btn-primary float-right">Add Product</a>
              </div>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">CategoryId</th>
                    <th scope="col">BrandId</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    <% product.forEach(barang => { %>
                        <tr> 
                            <td><%= barang.id %></td>
                            <td><%= barang.CategoryId %></td>
                            <td><%= barang.BrandId %></td>
                            <td><a href="product/edit/<%= barang.id %>" class="btn btn-sm btn-info">Edit</a><a href="product/delete/<%= barang.id %>" class="btn btn-sm btn-danger">Delete</a></td>
                        </tr>
                    <% }) %>
                </tbody>
              </table>
          </div>
      </div>
</div>

  
<%- include('partials/footer.ejs') %>
   