<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College data</title>
</head>
<body>
    <h1>College Data</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipis</p>
    <% Students.forEach(student => { %>
        <p><%= student.id %></p>
        <p><%= student.name %></p>
        <p><%= student.score %></p>
    <% }) %>
</body>
</html>